.container{
    text-align: left;
}

body{
    background-image:url('https://www.hdwallpapers.in/download/red_music_pulse_with_black_background_hd_red_aesthetic-HD.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 0 20px;
}

h1 {
  text-align: left;
}

.search-container {
  text-align: left;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#song-result {
  margin-top: 20px;
}