.container {
  max-width: 600px;
  margin: 50px ;
  padding: 20px;
  text-align: left; 
}

body {
  background-image: url('https://img.freepik.com/free-photo/top-view-white-guitar-arrangement-with-copy-space_23-2148785744.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: red;
}
h2 {
  color: blueviolet;
}
h3{
  color:green
}

.search-container {
  text-align: left;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: solid wheat;
  border-radius: 5px;
  width: 70%;
}

button {
  padding: 10px; 
  background-color: red;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}



