.container{
    text-align: left;
}

body{
    background-image:url('https://i.pinimg.com/originals/57/9c/e5/579ce501b8c6d2a3731b4950cdb60500.webp') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 0 20px;
}

h1 {
  text-align: left;
}

.search-container {
  text-align: left;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border:  solid wheat;
  border-radius: 5px;
  width: 70%;
}

button {
  padding:  10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}



